body{
    background-color: rgb(116, 3, 3);
}

header {
    
    text-align: center;
    background-color: black;
    color: rgb(116, 3, 3);
    padding-top: 10px;
    
}

nav {
    text-align: center;
}

footer {
    text-align: center;
}