body {

    background-color: black;

}

#contact {
    
    margin-top: 20px;
    margin-right: 25% ;
    padding: 0%;
    border: 100px; color: rgba(0, 0, 0, 0.267);
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.774);
    text-align: right;
    width: 100%;
    
}

#contact>button {

    margin-top: 1%;
    margin-left: 90%;
    background-color: black;
    color: yellow;
    border-color: yellow;

}

h1 {

    background-color: black;
    color: yellow;
    text-align: center;
    margin-top: 10%;

}

img {

    margin-left: 0%;   

}